<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>ftcal</title>
  <!-- CDN installation -->
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js" %>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js" %>
  <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.css" %>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" %>
  <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.1/fullcalendar.min.css" %>
  <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.1/fullcalendar.print.css", media: "print" %>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.1/fullcalendar.min.js" %>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.1/lang/ja.js" %>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js" %>
  <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" %>

  <%#= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" %>

  <!-- i18n settings -->
  <!-- <script type="text/javascript"> -->
    <!-- var browser_lang = (window.navigator.userLanguage || window.navigator.language || window.navigator.browserLanguage).substr(0,2) == "ja" ? "ja" : "en"; -->

  <!-- </script> -->

  <%= javascript_include_tag "i18n" %>
  <% if Rails.env.development? %>
    <%= javascript_include_tag "translations" %>
  <% else %>
    <%= javascript_include_tag "i18n/#{I18n.locale}" %>
  <% end %>
  <script type="text/javascript">
    I18n.defaultLocale = "<%= I18n.default_locale %>";
    I18n.locale = "<%= I18n.locale %>";
    I18n.fallbacks = true;
  </script>

  <!-- Rails Default settings -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <%= render 'layouts/nav' %>
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
  <article>
    <div class="container">
      <%= yield %>
    </div>
  </article>
  <%= render 'layouts/footer' %>
</body>
</html>
